
.icon-menu:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
